<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta id="" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Usuarios</title>
</head>
<body>
    <%if(rol=='Cliente'){%>
        <%- include('../parciales/navCliente')%>
      <%}else if(rol=='Vendedor'){%>
        <%- include('../parciales/navVendedor')%>
      <%}else if(rol=='Administrador'){%>
        <%- include('../parciales/nav')%>
      <%}else{%>
        <%- include('../parciales/nav')%>
      <%}%>

        <script>
            $(document).ready(function () {
                new DataTable('#table_id', {
                    stateSave: true
                })
            });
        </script>
        <div class="container mt-5">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end my-5">
                <a href="http://localhost:5900/formUsuario" class="btn btn-primary mx-2 mt-5">Registrar Usuario</a>
                <a href="http://localhost:5900/formVendedor" class="btn btn-primary mt-5">Registrar Vendedor</a>
            </div>
            <div>
                <div class="card-header ">
                    <h4 class="text-center">LISTA USUARIOS</h4>
                </div>
                <div class="card-body">
                    <table id="table_id" class="display table table-bordered " style="width:100%">
                        <thead>
                            <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col">Documento</th>
                                <th scope="col">Correo</th>
                                <th scope="col">rol</th>
                                <th scope="col">opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% clientes.forEach(function(elemento) { %>
                                <tr>
                                    <td>
                                        <%=elemento.nombreUsuario%>
                                    </td>
                                    <td>
                                        <%=elemento.documentoUsuario%>
                                    </td>
                                    <td>
                                        <%=elemento.correoUsuario%>
                                    </td>
                                    <td>
                                        <%=elemento.rol%>
                                    </td>

                                    <td>
                                        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                                            data-bs-target="#modalEliminar"
                                            onclick="eliminarUsuario(`<%=elemento._id%>`,`<%=elemento.nombreUsuario%>`)">Eliminar</button>
                                        <button type="button" class="btn btn-outline-success" data-bs-toggle="modal"
                                            data-bs-target="#modalActualizarUsuario"
                                            onclick="llamarDatosUsuario(`<%=elemento.nombreUsuario%>`,`<%=elemento.apellidosUsuario%>`,`<%=elemento.telefonoUsuario%>`,`<%=elemento.correoUsuario%>`,`<%=elemento.ubicacionUsuario%>`,`<%=elemento.documentoUsuario%>`,`<%=elemento._id%>`)">Editar</button>
                                    </td>
                                </tr>
                                <%})%>
                                    <% vendedores.forEach(function(elemento) { %>
                                        <tr>
                                            <td>
                                                <%=elemento.nombreUsuario%>
                                            </td>
                                            <td>
                                                <%=elemento.documentoUsuario%>
                                            </td>
                                            <td>
                                                <%=elemento.correoUsuario%>
                                            </td>
                                            <td>
                                                <%=elemento.rol%>
                                            </td>

                                            <td>
                                                <button type="button" class="btn btn-outline-danger"
                                                    data-bs-toggle="modal" data-bs-target="#modalEliminarVendedor"
                                                    onclick="eliminarVendedor(`<%=elemento._id%>`,`<%=elemento.nombreUsuario%>`)">Eliminar</button>
                                                <button type="button" class="btn btn-outline-success"
                                                    data-bs-toggle="modal" data-bs-target="#modalActualizarVendedor"
                                                    onclick="llamarDatosVendedor(`<%=elemento.nombreUsuario%>`,`<%=elemento.documentoUsuario%>`,`<%=elemento.correoUsuario%>`,`<%=elemento._id%>`)">Editar</button>
                                            </td>
                                        </tr>
                                        <%})%>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Modal Editar Vendedor -->
            <div class="modal fade" id="modalActualizarVendedor" tabindex="-1"
                aria-labelledby="modalActualizarVendedorLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="modalActualizarVendedorLabel">Editar Vendedor</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="formularioVendedor" method="post">
                                <div class="form-group ">
                                    <label for="nombreVendedor" class="form-label p-1 ">NOMBRE</label>
                                    <input type="text" class="form-control" id="nombreVendedor" name="nombreVendedor">

                                    <label for="documentoVendedor" class="form-label p-1">DOCUMENTO</label>
                                    <input type="number" class="form-control" id="documentoVendedor" name="documentoVendedor">

                                    <label for="correoVendedor" class="form-label p-1">CORREO</label>
                                    <input type="email" class="form-control" id="correoVendedor" name="correoVendedor">

                                    <input type="password" class="form-control" hidden id="contraseñaVendedor" name="contraseñaVendedor">

                                    <input type="text" class="form-control" hidden id="idVendedor" name="idVendedor">

                                    <input type="text" hidden id="rol" name="rol" value="Vendedor">
                                </div>
                                <div class="form-group text-center ">
                                    <input type="submit" class="btn btn-primary p-1 mt-5">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal Confirmacion de eliminacion Vendedor -->
            <div class="modal fade" id="modalEliminarVendedor" tabindex="-1"
                aria-labelledby="modalEliminarVendedorLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="modalEliminarVendedorLabel">Eliminar Vendedor</h1>
                        </div>
                        <div class="modal-body" id="ContenidoEliminarVendedor">
                        </div>
                        <div class="modal-footer">
                            <form id="formEliminarVendedor" method="post">
                                <input id="VendedorEliminar" name="VendedorEliminar" type="text" hidden>
                                <button type="button" class="btn btn-secondary"
                                    data-bs-dismiss="modal">Cancelar</button>
                                <button type="submit" class="btn btn-primary">Eliminar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal editar Cliente -->
            <div class="modal fade" id="modalActualizarUsuario" tabindex="-1"
                aria-labelledby="modalActualizarUsuarioLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="modalActualizarUsuarioLabel">Editar Cliente</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="formularioUsuario" method="post">
                                <div class="form-group ">
                                    <label for="nombreUsuario" class="form-label p-1 ">NOMBRE</label>
                                    <input type="text" class="form-control" id="nombreUsuario" name="nombreUsuario">

                                    <label for="apellidoUsuario" class="form-label p-1">APELLIDO</label>
                                    <input type="text" class="form-control" id="apellidoUsuario" name="apellidoUsuario">

                                    <label for="telefonoUsuario" class="form-label p-1">TELEFONO</label>
                                    <input type="number" class="form-control" id="telefonoUsuario" name="telefonoUsuario">

                                    <label for="direccionUsuario" class="form-label p-1">DIRECCION</label>
                                    <input type="text" class="form-control" id="direccionUsuario" name="direccionUsuario">

                                    <label for="documentoUsuario" class="form-label p-1">DOCUMENTO</label>
                                    <input type="text" class="form-control" id="documentoUsuario" name="documentoUsuario">

                                    <label for="correoUsuario" class="form-label p-1">CORREO</label>
                                    <input type="email" class="form-control" id="correoUsuario" name="correoUsuario">

                                    <input type="text" class="form-control" hidden id="idUsuario" name="idUsuario">
                                </div>
                                <div class="form-group text-center ">
                                    <input type="submit" class="btn btn-primary p-1 mt-5">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal Confirmacion de eliminacion Cliente -->
            <div class="modal fade" id="modalEliminar" tabindex="-1" aria-labelledby="modalEliminarLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="modalEliminarLabel">Eliminar Cliente</h1>
                        </div>
                        <div class="modal-body" id="confirmacionEliminar">
                        </div>
                        <div class="modal-footer">
                            <form id="eliminarform" method="post">
                                <input id="usuarioEliminar" name="usuarioEliminar" type="text" hidden>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                <button type="submit" class="btn btn-primary">Eliminar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                function llamarDatosUsuario(nombre, apellido, telefono, corre, direccion, documento, id,) {
                    nombreUsuario.value = nombre;
                    apellidoUsuario.value = apellido;
                    telefonoUsuario.value = telefono;
                    direccionUsuario.value = direccion;
                    documentoUsuario.value = documento;
                    correoUsuario.value = corre;
                    idUsuario.value = id;
                    const from = document.getElementById('formularioUsuario');
                    from.setAttribute('action', 'actualizarUsuario');
                }
                function eliminarUsuario(id, nombre) {
                    confirmacionEliminar.innerHTML = ``;
                    confirmacionEliminar.innerHTML +=`<p>Eliminar al usuario: <samp>${nombre}</samp> </p>`;
                    eliminarform.setAttribute('action', `eliminarUsuario`);
                    usuarioEliminar.value = id;
                }
                function llamarDatosVendedor(nombre, documento, corre, id,) {
                    nombreVendedor.value = nombre;
                    documentoVendedor.value = documento;
                    correoVendedor.value = corre;
                    idVendedor.value = id;
                    const from = document.getElementById('formularioVendedor');
                    from.setAttribute('action', 'actualizarVendedor');
                }
                function eliminarVendedor(id, nombre) {
                    ContenidoEliminarVendedor.innerHTML = ``;
                    ContenidoEliminarVendedor.innerHTML +=`<p>Eliminar al Vendedor: <samp>${nombre}</samp> </p>`;
                    formEliminarVendedor.setAttribute('action', `eliminarVendedor`);
                    VendedorEliminar.value = id;
                }
            </script>
</body>
</html>