<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta id="" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Usuarios</title>


</head>

<body>
    <%- include('../parciales/nav')%>
    <script>

        $(document).ready(function () {
          new DataTable('#table_id', {
            stateSave: true
          })
        });
    
      </script>
        <div class="container mt-5">
            <div>
                <div class="card-header ">
                    <h4 class="text-center">LISTA USUARIOS</h4>
                </div>
                <div class="card-body">
                    <table id="table_id" class="display table table-bordered " style="width:100%">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Telefono</th>
                            <th scope="col">direccion</th>
                            <th scope="col">Correo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% usuarios.forEach(function(elemento) { %>
                            <tr>
                                <td>
                                    <%=elemento.nombreUsuario%>
                                </td>
                                <td>
                                    <%=elemento.apellidosUsuario%>
                                </td>
                                <td>
                                    <%=elemento.telefonoUsuario%>
                                </td>
                                <td>
                                    <%=elemento.correoUsuario%>
                                </td>

                                <td>
                                    <button type="button" class="btn btn-outline-danger">Eliminar</button>
                                    <button type="button" class="btn btn-outline-success" data-bs-toggle="modal"
                                        data-bs-target="#modalActualizarUsuario"
                                        onclick="llamarDatosUsuario(`<%=elemento.nombreUsuario%>`,`<%=elemento.apellidosUsuario%>`,`<%=elemento.telefonoUsuario%>`,`<%=elemento.correoUsuario%>`,`<%=elemento.ubicacionUsuario%>`,`<%=elemento._id%>`)">Editar</button>
                                </td>
                            </tr>
                            <%})%>
                    </tbody>
                </table>
            </div>
        </div>


        <div class="modal fade" id="modalActualizarUsuario" tabindex="-1" aria-labelledby="modalActualizarUsuarioLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="modalActualizarUsuarioLabel">Actualizar Usuario</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="formularioUsuario" action="actualizarUsuario" method="post">
                            <div class="form-group ">

                                <label for="nombreUsuario" class="form-label p-1 ">NOMBRE</label>
                                <input type="text" class="form-control" id="nombreUsuario" name="nombreUsuario">

                                <label for="apellidoUsuario" class="form-label p-1">APELLIDO</label>
                                <input type="text" class="form-control" id="apellidoUsuario" name="apellidoUsuario">

                                <label for="telefonoUsuario" class="form-label p-1">TELEFONO</label>
                                <input type="number" class="form-control" id="telefonoUsuario" name="telefonoUsuario">

                                <label for="direccionUsuario" class="form-label p-1">DIRECCION</label>
                                <input type="text" class="form-control" id="direccionUsuario" name="direccionUsuario">

                                <label for="correoUsuario" class="form-label p-1">CORREO</label>
                                <input type="email" class="form-control" id="correoUsuario" name="correoUsuario">

                                <input type="password" class="form-control" hidden id="contraseñaUsuario"
                                    name="contraseñaUsuario">
                                <input type="text" class="form-control" hidden id="id" name="id">

                            </div>
                            <div class="form-group text-center ">
                                <input type="submit" class="btn btn-primary p-1 mt-5">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <script>
            function llamarDatosUsuario(nombre, apellido, telefono, corre,direccion, contraseña, id) {
                nombreUsuario.value = nombre;
                apellidoUsuario.value = apellido;
                telefonoUsuario.value = telefono;
                direccionUsuario.value=direccion;
                correoUsuario.value = corre;
                contraseñaUsuario.value = contraseña;
                id.value = id

                const from = document.getElementById('formularioUsuario');
                from.setAttribute('action', 'actualizarProducto');

            }
        </script>
</body>

</html>00848382